* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

a {
  transition: 250ms all;
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: 250ms all;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main {
    flex: 1;
  }
}
