* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

a {
  transition: 250ms all;
  text-decoration: none;
  color: $mild-gray;

  &:hover {
    color: $darklighten;
  }
}

p {
  margin-top: 0;
}

button {
  cursor: pointer;
  transition: 250ms all;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main {
    flex: 1;
  }
}

.img-fluid {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}