@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}


@mixin nav($justify: 'flex-end') {
  .nav {
    flex: 1;
    display: flex;
    flex-direction: column;



    &__item {
      border-bottom: 1px solid $b-gray;
      padding: pxToRem(15) pxToRem(25);
      font-size: pxToRem(20);
      line-height: pxToRem(26);
      color: $darklighten;

      &.nuxt-link-exact-active {
        font-weight: 600;
      }
    }

    @include respond-to('x-large') {
      flex-direction: row;
      justify-content: $justify;
      gap: pxToRem(45);
      margin: 0 pxToRem(50);

      &__item {
        border: none;
        padding: 0;
        font-size: pxToRem(18);

        &:hover {
          color: $mild-gray;
        }
      }
    }
  }
}