@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}


@mixin nav($justify: 'flex-end') {
  .nav {
    flex: 1;
    display: flex;
    justify-content: $justify;
    gap: pxToRem(45);
    margin: 0 pxToRem(50);

    &__item {
      font-size: pxToRem(18);
      line-height: pxToRem(26);
      color: $darklighten;

      &.nuxt-link-exact-active {
        font-weight: 600;
      }

      &:hover {
        color: $mild-gray;
      }
    }
  }
}