$enlighten: #ffffff;
$graylighten: #d2d2d2;
$darklighten: #000000;
$dark-gray: #535353;
$mild-gray: #868686;
$b-gray: #b3b3b3;
$f3-light-gray: #f1f1f1;
$alizarin: #e74c3c;

$breakpoints: (
  "small": 576px,
  "medium": 768px,
  "large": 992px,
  "x-large": 1200px,
  "xx-large": 1400px,
  ) !default;