.btn {
  $self: &;
  position: relative;
  display: inline-block;
  border-radius: pxToRem(5);
  height: pxToRem(50);
  padding: 0 pxToRem(22);
  font-size: pxToRem(15);
  line-height: pxToRem(50);
  font-weight: 400;

  &:disabled {
    background-color: rgba($darklighten, .3);
    cursor: not-allowed;
  }

  &__text {
    &.--hidden {
      opacity: 0;
    }
  }

  &.--primary {
    border: none;
    background-color: $darklighten;
    color: $enlighten;

    &:not(:disabled):hover {
      color: $enlighten;
      background-color: $dark-gray;
    }

    &:disabled {
      background-color: rgba($darklighten, .3);
    }
  }

  &.--secondary {
    border: 1px solid $b-gray;
    background-color: transparent;
    color: $b-gray;

    &:not(:disabled):hover {
      border: 1px solid $darklighten;
      color: $darklighten;
    }
  }

  &.--tertiary {
    border: 1px solid $dark-gray;
    background-color: transparent;
    color: $dark-gray;

    &:not(:disabled):hover {
      border: 1px solid $darklighten;
      color: $darklighten;
    }

    &:disabled {
      border: 1px solid $b-gray;
      color: $b-gray;
    }
  }

  &.--cart {
    @extend .--secondary;
    font-size: pxToRem(18);
    line-height: 1;

    #{$self} {
      &__text {
        display: inline-flex;
        align-items: center;
        gap: pxToRem(24);
        height: pxToRem(28);
      }
    }

    .icon {
      border-right: 1px solid $b-gray;
      height: pxToRem(28);
      padding-right: pxToRem(24);
    }
  }

  &.--text {
    border: none;
    border-radius: 0;
    height: auto;
    padding: 0;
    background-color: transparent;
    font-size: inherit;
    line-height: inherit;
    text-decoration: underline;
    color: $mild-gray;

    &:hover {
      color: $darklighten;
    }
  }

  &.--sm {
    height: pxToRem(40);
    line-height: pxToRem(40);
  }

  &.--lg {
    height: pxToRem(65);
    font-size: pxToRem(18);
    line-height: pxToRem(65);
  }

  &.--block {
    display: block;
    width: 100%;
    text-align: center;
  }
}