.customer-auth {
  padding-top: pxToRem(50);
  padding-bottom: pxToRem(50);

  &__header {
    margin-bottom: pxToRem(44);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: pxToRem(20);

    &-row {
      &.--high-gap {
        margin-bottom: pxToRem(30);
      }
    }
  }

  &__link {
    font-size: pxToRem(16);
    line-height: pxToRem(24);
    text-decoration: underline;
    color: $dark-gray;

    &:hover {
      color: initial;
    }
  }

  &__footer {
    margin-top: pxToRem(58);
    font-size: pxToRem(12);
    line-height: pxToRem(18);
    color: $mild-gray;
  }
}

.customer-page {
  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: pxToRem(44);

    @include respond-to('x-large') {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}