.slick-dots {
  position: absolute;
  bottom: pxToRem(30);
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  gap: pxToRem(8);
  list-style: none;

  li {
    button {
      overflow: hidden;
      border: none;
      border-radius: 50%;
      width: pxToRem(12);
      height: pxToRem(12);
      background-color: $b-gray;
      text-indent: pxToRem(-24);
    }

    &.slick-active {
      button {
        background-color: $enlighten;
      }
    }
  }
}